<!DOCTYPE html>
<html>
<head>
  <title>Phonebooth</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3GgLSp1BRnm3bghTgJSl-edzamfhyfjA&sensor=true">
  </script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
